<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <servlet>
    <servlet-name>joid</servlet-name>
    <servlet-class>examples.server.OpenIdServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>echo</servlet-name>
    <servlet-class>examples.server.EchoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>joid</servlet-name>
    <url-pattern>/server</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>echo</servlet-name>
    <url-pattern>/echo</url-pattern>
  </servlet-mapping>

</web-app>

